:root {
	--modal-header-height: 40px;
}

.modal-container {
	width: 100vw;
	/* height: calc(99.5vh - var(--header-height)); */
	background-color: hsla(0, 0%, 98%, 0.881);
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

.modal-showModal {
	display: block;
}
.modal-hideModal {
	display: none;
}

.modal-background {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.modal-payload {
	display: grid;
	grid-template-columns: 1fr;
	/* grid-template-rows: 10% 0 0; */
	/* min-width: 70%;
	min-height: 70%; */
	/* background-color: azure; */
}

.modal-header {
	width: 100%;
	/* height: var(--modal-header-height); */
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid;
	font-size: 3rem;
}

.modal-name,
.modal-name-btn {
	margin: 0 10px;
	font-size: 3rem;
	text-transform: uppercase;
}

.modal-name-btn {
	line-height: 0.5;
}

.modal-name svg {
	font-size: 3rem;
}

.modal-body {
	/* width: 100%; */
	/* height: 100%; */
	/* border: 1px solid; */
}
.modal-footer {
	/* width: 100%; */
	/* height: 0; */
	/* border: 1px solid; */
}
