/* TODO: Introdive css variables */
/* TODO: Split css code imnto own components */

:root {
	--logo-height: 5rem;
	--header-height: 6rem;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Robonto", sans-serif;
	font-size: 10px;
	/* background-color: #191919; */
}

body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}





.menu-icons {
	/* color: #eee; */
	font-size: 4rem;
	position: absolute;
	top: 50%;
	right: 2rem;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 1500;
	display: none;
}

nav {
	display: flex;
	align-items: center;
	width: 100%;
	height: 6rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
	width: 5rem;
	height: var(--logo-height);
	background-color: #eb3007;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	margin-right: 5rem;
}

.logo svg {
	margin: auto;
	font-size: 3rem;
	/* color: #eee; */
}

.nav-list {
	display: flex;
	width: 100%;
}

.nav-list > li {
	line-height: 4rem;
	position: relative;
}

.sub-menu li {
	line-height: 3rem;
	position: relative;
}

.nav-list a {
	display: block;
	/* color: #eee; */
	padding: 0 1.5rem;
	font-size: 1.4rem;
	text-transform: uppercase;
	transition: color 650ms;
	/* border: 2px solid rgb(211, 211, 211); */
}

.nav-list a:hover {
	color: #eb3007;
	border: 2px solid rebeccapurple;
}

li.move-right a:hover {
	border: none;
}

.expand {
	flex: 1;
}

.btn {
	/* padding: 0.1rem; */
	display: inline-block;
	background-color: #eb3007;
	/* border: 2px solid #eb3007; */
	border-radius: 5rem;
	transition: background-color 650ms;
}

.btn:hover {
	color: #eb3007;
	background-color: rgba(0, 0, 0, 0.2);
}

.sub-menu {
	width: 20rem;
	display: block;
	position: absolute;
	border-top: 3px solid#eb3007;
	/* background-color: #191919; */
	z-index: 100;
	top: 8rem;
	opacity: 0;
	visibility: hidden;
	transition: all 650ms ease;
}

.sub-menu::before {
	content: "";
	position: absolute;
	top: -2.5rem;
	left: 3rem;
	border: 1.2rem solid transparent;
	border-bottom-color: #eb3007;
}

li.move-right .sub-menu::before {
	left: 80%;
}

.sub-menu .sub-menu::before {
	top: 0.9rem;
	left: -2.5rem;
	border: 1.2rem solid transparent;
	border-right-color: #eb3007;
}

.sub-menu .sub-menu {
	border-top: none;
	border-left: 3px solid #eb3007;
	top: 0;
	left: 160%;
}

.nav-list li:hover > .sub-menu {
	top: 5rem;
	opacity: 1;
	visibility: visible;
}

.nav-list li.move-right > .sub-menu {
	right: 0;
}

.nav-list li.move-right:hover > .sub-menu {
	top: 5rem;
	right: 0;
	opacity: 1;
	visibility: visible;
}

.sub-menu li:hover > .sub-menu {
	top: 0;
	left: 100%;
}

li.move-right {
	margin: auto 2rem auto auto;
}


.home,
.bok,
.user,
.user-updated,
.no-page-found,
.users,

.trns,
.erfs,
.bok,
.admin,
.unp,
.signup,
.signin {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
	width: 100%;
	height: 100%;
}

.user-updated,
.user,
.no-page-found,
.asts,
.trns,
.admin {
	flex-direction: column;
}

@media screen and (max-width: 850px) {
	.nav-list {
		position: fixed;
		top: var(--header-height);
		left: 0;
		height: 100vh;
		flex-direction: column;
		align-items: initial;
		background-color: #e3e3e3ca;
		z-index: 1000;
		color: rgb(18, 18, 18);
		display: none;
		overflow-y: scroll;
	}

	.nav-list.show {
		display: block;
	}

	.nav-list.hide {
		display: none;
	}

	.nav-list > li {
		line-height: 6rem;
	}

	.sub-menu {
		position: initial;
		border: 3px solid transparent;
		border-left-color: #eb3007;
		margin-left: 1rem;
		max-height: 0;
	}

	.sub-menu::before {
		display: none;
	}

	.nav-list li:hover > .sub-menu {
		opacity: 1;
		visibility: visible;
		max-height: initial;
	}

	li.move-right {
		margin: 0 auto 0 0;
		line-height: 4rem;
	}

	.menu-icons {
		display: block;
	}

	li.btn.move-right {
		width: 10rem;
		height: 4rem;
	}
}
