.dbd {
	font-size: 1.6rem;
	color: #1d275b;
	display: grid;
	grid-template-columns: 1fr;
	margin: 0 0.5rem;
	background-color: #f7f8f9;
}

.dbd-heading {
	display: grid;
	grid-template-columns: 1fr 7fr;
	padding: 1rem;
	background-color: bisque;
	grid-gap: 2rem;
}

.dbd-title {
	font-size: 2rem;
}

.dbd-filters {
	display: flex;
	justify-content: space-between;
}

.dbd-body-ast-totals {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	margin: 0.5rem 0;
}

.dbd-body {
	display: grid;
	grid-template-columns: auto 5fr;
}

.dbd-body-totals {
	font-weight: 600;
	color: rgb(64, 64, 255);
}

.dbd-body-ast-total {
	/* margin: 1rem; */
	background-color: #e7fafd;
}

.dbd-graphs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1rem;
	margin: 1rem 0 1rem 1rem;
	grid-template-areas: 
	"asts-bar-chart asts-pie-chart"
	"trns-bar-chart date-time-filters";
}

.dbd-graph {
	background-color: beige;	
	border: 2px solid lightblue;
	border-radius: 2rem;
}

/* asts bar cahrt */
.dbd-graph-asts-bar-chart {
	grid-area: asts-bar-chart ;
}

/* asts pie chart */
.dbd-graph-asts-pie-char {
	grid-area: asts-pie-chart;
}

/* trns bar chart */
.dbd-graph-trnas-bar-char {
	grid-area: trns-bar-chart;
}


.dbd-date-filters {
	grid-area: date-time-filters;
}

.chart {
	width: 100%;
	height: 100%;
}
